body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

.footer {
	border-top: 1px solid #d5d5d5;
	font-size: 1.2em;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: bold;
	clear: both;
	bottom: 0px;
	position: fixed; 
	width: 70%; 
	margin-bottom: 1em; }

